/*mobile first img*/
img {
  width: 80px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
/*Desktop img*/
@media (min-width: 768px){
img {
  width: 120px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  }
}
/*mobile first nav-bar*/
#nav-bar{
  position: fixed;
  background-color: rgb(129, 65, 65);    
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%;
  height: 8%;
}
/*Desktop nav-bar*/
@media (min-width: 768px){
  #nav-bar{
  position: fixed;
  background-color: rgb(129, 65, 65);    
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%;
  height: 10%;
  }
}
body {
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(253, 231, 182, 0.795);
  background-position: center center;
  text-align: center;
}
#site-body{
  padding-top: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  margin: 1rem;
  text-transform: uppercase;
  transform: rotate(-5deg)
             skew(-5deg);
}
li {
  float: left;
}
/*mobile first li a*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px 0px 0px;
  text-decoration: none;
  font-size:12px ;
}
/*Desktop li a*/
@media (min-width: 768px){ 
  li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  }
}
.about{
  text-align: center;
}
/*Mobile h1 */
h1 {
  font-size: 27px;
  padding-top: 40px;
  text-decoration: underline;
  color: rgb(129, 65, 65);
  text-align: left;
}
/*Desktop h1 */
@media (min-width: 768px){
  h1 {
    padding-top: 40px;
    text-decoration: underline;
    color: rgb(129, 65, 65);
    font-size: 35px;
    text-align: center;
  }
}
/*Mobile first h2*/
h2 {
  text-align: left;
  color: rgb(197, 67, 67);
  font-size: 20px;
  display: block;
  margin-right: auto auto;
}
/*Desktop h2*/
@media (min-width: 768px){
  h2 {
    text-align: center;
    color: rgb(197, 67, 67);
    font-size: 30px;
  }
}
/*Mobile p*/
p {
  font-size: 15px;
  text-align: left;
  color: rgb(95, 45, 45);
  display: block;
}
/*Desktop p*/
@media (min-width: 768px){
  p {
    text-align: center;
    color: rgb(95, 45, 45);
    font-size: 18px;
  }
}
li a:hover {
  background-color: rgb(197, 67, 67);
}
/*Mobile youtube-title*/
#youtube-title {
  text-align: left;
  font-size: 19px;
  text-decoration: underline;
  color: rgb(129, 65, 65);
  margin-left: 28px;
}
/*Desktop youtube-title*/
@media (min-width: 768px){
  #youtube-title {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: rgb(129, 65, 65);
  }
}
/*Desktop iframe*/
iframe {
  padding-top: 100px;
  width:560px; 
  height:315px;   
  border: 0px;               
}
/*Mobile iframe*/
@media (max-width: 568px){
  iframe {
    width: 80vw;
  }
}
#services {
  padding-top: 50px;
  margin-left: 25px;
  text-align: center;
}
/*Mobile align-center*/
.align-center {
  text-align: center;
  display: block;
  font-size: 16px;
}
/*Desktop align-center*/
@media (min-width: 768px){
  .align-center {
    text-align: center;
    display: block;
  }
}
/*Mobile Pricing*/
#pricing {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 100px;
}
/*Desktop Pricing*/
@media (min-width: 768px){
#pricing {
  display: inline-flex;
  flex-wrap: nowrap;
  padding-top: 150px;
  margin: auto;
  }
}
.price-boxes {
border-style: solid;
color: black;
border-radius: 25px;
width: 70%;
background-color: rgb(129, 65, 65); 
}
@media (min-width: 768px) {
.price-boxes {
  width: 40%;
  }
}
.align-center-p {
  text-align: center;
  font-size: 14px;
  color: black;
}
#contact-us {
padding-top: 80px;
padding-bottom: 80px;
}
/*Mobile contact*/
#contact{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
/*Desktop Contact*/
@media (min-width: 768px){
  #contact {
    text-align: center;
    display: block;
  }
}
/*Mobile form*/
form{
  margin-left: 10px;
}
/*Desktop form*/
@media (min-width: 768px){
  form{
    margin:auto auto;
  }
}
#submit {
  padding: 1em;
  color:rgba(80, 47, 47, 0.911);
  background-color:rgb(197, 67, 67);
  font-weight: 500;
  align-self: center;
}